/* Loop/ Hello browser styles */

notification[value="loop-sharing-notification"] .button-menubutton-button {
  -moz-appearance: none;
  min-width: 0;
  border: 0;
  margin: 0;
}

notification[value="loop-sharing-notification"] .messageImage {
  list-style-image: url(chrome://browser/skin/webRTC-shareScreen-16.png);
}

@media (-moz-windows-theme: luna-silver) and (max-resolution: 1dppx) {
  :-moz-any(@primaryToolbarButtons@),
  #bookmarks-menu-button.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    list-style-image: url("chrome://browser/skin/Toolbar-lunaSilver.png");
  }

  #loop-button {
    list-style-image: url(chrome://browser/skin/loop/toolbar-lunaSilver.png)
  }

  #PanelUI-menu-button.thumburger {
    list-style-image: url("chrome://browser/skin/customizableui/thumburger-lunaSilver.png") !important;
  }
}

@media (-moz-windows-theme: luna-silver) and (min-resolution: 1.1dppx) {
  #loop-button {
    list-style-image: url(chrome://browser/skin/loop/toolbar-lunaSilver@2x.png)
  }

  #PanelUI-menu-button.thumburger {
    list-style-image: url("chrome://browser/skin/customizableui/thumburger-lunaSilver@2x.png") !important;
  }
}
